<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card text-center p-4" style="width: 800px;">
    <h1 class="display-4 text-primary">Editing invoices</h1>
  </div>
</div>


<%= render "form", invoice: @invoice %>

<br>

<div>
  <%= link_to "Show this invoice", @invoice %> |
  <%= link_to "Back to invoices", invoices_path %> |
  <%= link_to 'Back to Home', root_path %>
</div>
