<!-- app/views/clients/show.html.erb -->
<div class="d-flex justify-content-center mt-5">
  <div class="card p-4" style="width: 800px;">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Name:</strong>
          <%= client.name %>
        </p>

        <p>
          <strong>ID:</strong>
          <%= client.id %>
        </p>
      </div>

      <div class="col-md-6">
        <p>
          <strong>Contact information:</strong>
          <%= client.contact_information %>
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <p>
          <strong>Payment methods:</strong>
          <%= client.payment_methods %>
        </p>
      </div>
    </div>
  </div>
</div>
