<div class="new-client-container d-flex flex-column align-items-center justify-content-center">
  <div class="new-client-card text-center p-5">
    <h1 class="new-client-title">New Client</h1>
  </div>

  <%= render "form", client: @client %>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to "Back to clients", clients_path, class: 'btn btn-success mr-2 mx-4' %>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-outline-secondary mx-1' %>
  </div>
</div>
