<h1>Editing accountant</h1>

<%= render "form", accountant: @accountant %>

<br>

<div>
  <%= link_to "Show this accountant", @accountant %> |
  <%= link_to "Back to accountants", accountants_path %>
</div>
