<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card text-center p-4" style="width: 800px;">
    <h1 class="display-4 text-primary">New accountant</h1>
  </div>
</div>

<%= render "form", accountant: @accountant %>

<br>

<div>
  <%= link_to "Back to accountants", accountants_path %>
</div>
