<div class="row">
  <div class="col-md-4">
    <%= form_with(url: quarterly_report_path, method: "get") do |form| %>
      <%= form.select(:quarter, options_for_select(@quarters.map { |label, range| [label, range] }), {include_blank: "Select a quarter"}, class: "form-control mb-3") %>
      <%= form.submit "Generate Report", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
