<div class="row">
  <div class="col-md-4">
    <%= form_with(url: yearly_report_path, method: "get") do |form| %>
      <%= form.select(:year, options_for_select(years), {include_blank: "Select a year"}, class: "form-control mb-3") %>
      <%= form.submit "Generate Report", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
