<h1>Editing fixed expense</h1>

<%= render "form", fixed_expense: @fixed_expense %>

<br>

<div>
  <%= link_to "Show this fixed expense", @fixed_expense %> |
  <%= link_to "Back to fixed expenses", fixed_expenses_path %>
</div>
