.new-client-container {
  height: 100vh;
  background-color: #f8f9fa;
}

.new-client-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #0000001a;
  width: 800px;
}

.form-group {
  margin-bottom: 1rem;
}

.actions {
  margin-top: 1rem;
}

.new-client-title {
  color: #3498db;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.clients-container {
  height: 100vh;
  background-color: #f8f9fa;
}

.clients-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.clients-title {
  color: #3498db;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#clients {
  margin-top: 2rem;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
